<h2>Cadastrar Novo ADM</h2>
<form action="/cadastrar" method="POST">
    <div>
        <label>CPF:</label>
        <input type="text" name="cpf" required>
    </div>
    <div>
        <label>Nome:</label>
        <input type="text" name="nome" required>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" required>
    </div>
    <div>
        <label>Senha:</label>
        <input type="password" name="senha" required>
    </div>
    <button type="submit" style="background: green; color: white; padding: 10px; border: none; cursor: pointer;">Salvar</button>
    <a href="/">Voltar</a>
</form>